/*************************************************
 *  About widget
 **************************************************/

#profile {
  text-align: center;
  padding: 0px 0px;
  position: relative;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
}

.profile_contact{

  font-size: 0.9rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.54);
  margin: 0px 0 10px 0;

  font-family: $sta-font-heading, sans-serif;
  text-align: center;
  line-height: 1.3rem;
  text-rendering: optimizeLegibility;
}

// Use smaller avatar size in About widget on small devices.
@include media-breakpoint-down(sm) {
  .wg-about .avatar {
    width: 200px;
    height: 200px;
  }
}

.avatar-circle {
  border-radius: 50%;
}

.avatar-square {
  border-radius: 3px;
}

.portrait-title h2 {
  font-size: 1.75em;
  font-weight: 300;
  color: #000;
  margin: 20px 0 10px 0;
}

.portrait-title h3 {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.54);
  margin: 0 0 10px 0;
}

ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#profile .network-icon {
  margin-top: 10px;
}

.network-icon li {
  margin-right: 10px;
}

.network-icon li:last-of-type {
  margin-right: 0;
}

.network-icon li:hover {
  transform: scale(1.2);
}

.big-icon {
  font-size: 2rem;
}

ul.ul-interests li {
  font-size: 0.9rem;
}

ul.ul-edu {
  list-style: none;
}

ul.ul-edu li {
  position: relative;
  padding: 1px 15px 4px 3px;
}

ul.ul-edu li .description p {
  margin: 0;
}

ul.ul-edu li .description p.course {
  font-size: 0.9rem;
}

ul.ul-edu li .description p.institution {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
}

.about-content {
  line-height: 1.5rem
}

.about-announce {
  margin-top: 0px;
  margin-bottom: -10px;
  font-size: 0.9rem;
}

.about-row {
  margin-top: -30px;
  margin-bottom: -20px;
}

.about-subheading {
  font-size: 1rem;
  font-family: $sta-font-heading, sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}