.news-title {
    font-family: $sta-font-heading, sans-serif;
    font-size: 1.75em;
    font-weight: 300;
    color: #313131;
    margin: 10px 0 0px 0;    
    line-height: 1.25;
  }
  

  .news-content {
    margin: 10px 0 0px 0;    
  }