{{ $ := .root }}
{{ $page := .page }}
{{ $columns := $page.Params.design.columns | default "2" }}


<!-- About widget -->
{{ if ne $columns "1" }}
<div class="row">
  <div class="col-12 col-lg-2">
    {{/* Only display widget title in explicit instances of about widget, not in author pages. */}}
    {{ if and $page.Params.widget $page.Title }}
    <div class="news-title">
      {{ $page.Title | markdownify | emojify }}
    </div>
    {{ end }}
  </div>
  <div class="col-12 col-lg-9">

    <div class="article-style news-content">
      {{ $page.Content }}
    </div>
  </div>
</div>
{{ else }}


{{ end }}


